<div class='n404'>
	<img class='n404__font1' src="../../assets/images/404/404_1.png" alt="">
	<img class='n404__font2' src="../../assets/images/404/404_2.png" alt="">
	<div class="n404__content">
		<div class='n404__logo'>
			<img src="../../assets/icons/logo.png" alt="">
			<span>RENT-ME</span>
		</div>
		<h1>404</h1>
		<h1>Что-то пошло не так</h1>
		<p class='inform_black'>Страница не найдена</p>
		<div class="btn_control">
			<button class='btn btn_light btn_small' routerLink="">На главную</button>
		</div>
	</div>
</div>	