<div class="main">
	<div class="main__first-bloc">
		<h1>Что такое Rent-me?</h1>
		<img src="../../assets/images/inform_page/inform_content.png" alt="">
		<div class="main__first-content">
			<div>
				<h2>Аренда и применение</h2>
				<p>Rent-me - это сервис аренды, где можно сдать или взять вещи напрокат.</p>
				<p>Лучше, чем прокат - здесь собраны предложения прокатов и обычных людей по всей России</p>
				<p>Больше, чем доска объявлений - прямо на сайте можно оформить и опатить юридически безопасную сделку, а алгоритмы сервиса расчитают выгодную сделку как для арендатора так и для арендодателя.</p>
				<p>Топим за разумное потребление вещей. Смотрите отзывы о сервисе или читайте, что пишут о нас СМИ, когда зоходит о шеринг-экономике в России.</p>
			</div>
			<div>
				<h2>Зачем нужен сервис аренды вещей</h2>
				<p>Чтобы арендовать вещи в Ващем городе, Раньше приходилось смотреть десятки сайтов с прокатами. Хаонить и выяснять условия в каждом из них. Потом договориваться на словах - без какой-либо гарантии наличия. Сейчас все объявления собраны в одном месте: с фото, подробным описанием, онлайн-календарем доступности и калькулятором расчета арендной стоимости. И все это полностью онлайн, безопасно, выгодно и быстро.</p>
				<p>Чтобы сдавать другим людям, а не продавать на досках объявлений. Так бывает - только избавившись, как снова позарез понадобится. Пока вещь в прогате, она остается вашей и не лежит мертвым грузом - сдавайте через Rent-me, когда не пользуетесь и получайте дополнительных доход.</p>
			</div>
		</div>
	</div>

	<div class="main__instruction-bloc">
		<h1>Как происходит аренда</h1>
		<div class='main__instruction-content'>
			<div class="main__column_one">
				<div class='background_black'>
					<h3>1. ВЛАДЕЛЕЦ РАЗМЕЩАЕТ ОБЪЯВЛЕНИЕ - БЕСПЛАТНО</h3>
					<p>Все сделки застрахованы</p>
					<img src="../../assets/images/inform_page/astra_right.png" alt="">
				</div>
				<div class='background_light'>
					<h3>2. АРЕНДАТОР ВЫБИРАЕТ ВЕЩЬ И НАЖИМАЕТ «АРЕНДОВАТЬ»</h3>
					<p>Сервис покажет все доступные даты аренду для каждой вещи</p>
					<img src="../../assets/images/inform_page/astra_right.png" alt="">
				</div>
				<div class='background_black'>
					<h3>3. ВЛАДЕЛЕЦ ПОДТВЕРЖДАЕТ СДЕЛКУ ИЛИ ОТКАЗЫВАЕТСЯ ОТ НЕЁ</h3>
					<p>Либо выясняет конкретные условия именно под вас</p>
					<img src="../../assets/images/inform_page/astra_bottom.png" alt="">
				</div>
			</div>
			<div class="main__column_two">
				<div class='background_light'>
					<h3>4. АРЕНДАТОР ОТДАЕТ ВЕЩЬ, ВЛАДЕЛЕЦ ПОДТВЕРЖДАЕТ</h3>
					<p>Владелец получает деньги после подтверждения передачи со стороны покупателя</p>
					<img src="../../assets/images/inform_page/astra_right_top.png" alt="">
				</div>
				<div class='background_black'>
					<h3>5. ВЛАДЕЛЕЦ ПЕРЕДАЕТ ВЕЩЬ, АРЕНДАТОР ЖМЕТ НАЧАТЬ АРЕНДУ</h3>
					<p>Это подпись в договоре и акте приема-передачи, но без бумаг</p>
					<img src="../../assets/images/inform_page/astra_left.png" alt="">
				</div>
				<div class='background_light'>
					<h3>6. АРЕНДАТОР ОПЛАЧИВАЕТ НА САЙТЕ ПОДТВЕРЖДЕННУЮ АРЕНДУ</h3>
					<p>Чтобы гарантировать вещи и зафиксировать цену сделки</p>
					<img src="../../assets/images/inform_page/astra_left.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>