<h1>Взять в аренду</h1>
<div class='mt-40'>
  <app-catalog></app-catalog>
</div>
<p class='line_gray'></p>
<div class="mt-40"></div>
<h1 class='selection_algoritm'>Летний сезон
  <img src="../../assets/images/start-renter/selector_algoritm.png" alt="">
</h1>

<div class="mt-20 selection">
  <div>
    <h1 class='color-w'>Отдых на природе</h1>
    <img src="../../assets/images/start-renter/feature.png" alt="">
  </div>
  <div>
    <h1 class='color-w'>Спорт и развлечения</h1>
    <img src="../../assets/images/start-renter/sport.png" alt="">
  </div>
  <div>
    <h1 class='color-w'>Выгодная сделка</h1>
    <img src="../../assets/images/start-renter/work.png" alt="">
  </div>
  <div>
    <h1 class='color-w'>Квартирный сипозиум</h1>
    <img src="../../assets/images/start-renter/home.png" alt="">
  </div>
  <div>
    <h1 class='color-w'>Топ твоего города</h1>
    <img src="../../assets/images/start-renter/sity.png" alt="">
  </div>
  <div>
    <h1 class='color-w'>Для кофеманов!</h1>
    <img src="../../assets/images/start-renter/you.png" alt="">
  </div>
</div>
<div class="mt-40"></div>

<h1 class='selection_algoritm_button'>
  Ценно то, что редко
  <button class="btn output">Смотреть все объявления</button>
</h1>
<div class="mt-40"></div>