<div>
  <div class='lending'>
    <div class='lending__content'>
      <span>Создать</span>
      <span>объявление</span>
      <div class="content__button_aster" title='Создать объявление'>
        <img src="../../assets/icons/left-aster.png" alt="">
      </div>
    </div>
    <div class="lending__sofa">
      <img class='leftastra' src="../../assets/images/right-astra.png" alt="">
      <img src="../../assets/images/sofa.png" alt="sofa">
      <img class='rightastra' src="../../assets/images/left-astra.png" alt="">
    </div>  
    <div class='lending__content' routerLink="/start-renter">
      <span>Взять</span>
      <span>в аренду</span>
      <div class="content__button_aster_right" title='Взять в аренду'>
        <img src="../../assets/icons/right-aster.png" alt="">
      </div>
    </div>
  </div>
</div>
