<div class='container'>
	<div class='catalog'>
		<div class="catalog__item">
			<img src="../../assets/images/catalog/trojan1.png" alt="">
			<span>СПОРТ И ОТДЫХ</span>
		</div>
		<div class="catalog__item">
			<img src="../../assets/images/catalog/trojan2.png" alt="">
			<span>ОДЕЖДА</span>
		</div>
		<div class="catalog__item">
			<img src="../../assets/images/catalog/trojan3.png" alt="">
			<span>ДЕТСКИЕ ТОВАРЫ</span>
		</div>
		<div class="catalog__item">
			<img src="../../assets/images/catalog/trojan4.png" alt="">
			<span>ЭЛЕКТРОНИКА</span>
		</div>
		<div class="catalog__item">
			<img src="../../assets/images/catalog/trojan5.png" alt="">
			<span>ХОББИ И ОТДЫХ</span>
		</div>
		<div class="catalog__item">
			<img src="../../assets/images/catalog/trojan6.png" alt="">
			<span>ИНСТРУМЕНТЫ ДЛЯ РЕМОНТА</span>
		</div>
		<div class="catalog__item">
			<img src="../../assets/images/catalog/trojan7.png" alt="">
			<span>ДЛЯ МЕРОПРИЯТИЙ</span>
		</div>
		<div class="catalog__item">
			<img src="../../assets/images/catalog/trojan8.png" alt="">
			<span>МЕДИЦИНСКОЕ ОБОРУДОВАНИЕ</span>
		</div>
		<div class="catalog__item">
			<img src="../../assets/images/catalog/trojan9.png" alt="">
			<span>ДЛЯ ЖИВОТНЫХ</span>
		</div>
		<div class="catalog__item">
			<img src="../../assets/images/catalog/trojan10.png" alt="">
			<span>ДЛЯ ВЗРОСЛЫХ 18+</span>
		</div>
		<div class="catalog__item">
			<img src="../../assets/images/catalog/trojan11.png" alt="">
			<span>ДРУГОЕ</span>
		</div>
		<div class="catalog__item">
			<img src="../../assets/images/catalog/trojan12.png" alt="">
			<span>НЕДВИЖИМОСТЬ</span>
		</div>
		<div class="catalog__item">
			<img src="../../assets/images/catalog/trojan13.png" alt="">
			<span>МУЗЫКАЛЬНЫЕ ИНСТРУМЕНТЫ</span>
		</div>
		<div class="catalog__item">
			<img src="../../assets/images/catalog/trojan14.png" alt="">
			<span>МЕБЕЛЬ</span>
		</div>
	</div>
</div>